In [42]:
#Import Libraries
import pandas as pd
import numpy as np
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as MSE
from sklearn import preprocessing

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
# Importing the dataset 
cca=pd.read_csv("/content/drive/MyDrive/ML & AI/Credit_Card_Applications (1).csv")

In [5]:
cca

,CustomerID,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,Class
0,15776156,1,22.08,11.460,2,4,4,1.585,0,0,0,1,2,100,1213,0
1,15739548,0,22.67,7.000,2,8,4,0.165,0,0,0,0,2,160,1,0
2,15662854,0,29.58,1.750,1,4,4,1.250,0,0,0,1,2,280,1,0
3,15687688,0,21.67,11.500,1,5,3,0.000,1,1,11,1,2,0,1,1
4,15715750,1,20.17,8.170,2,6,4,1.960,1,1,14,0,2,60,159,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,15808223,1,31.57,10.500,2,14,4,6.500,1,0,0,0,2,0,1,1
686,15769980,1,20.67,0.415,2,8,4,0.125,0,0,0,0,2,0,45,0
687,15675450,0,18.83,9.540,2,6,4,0.085,1,0,0,0,2,100,1,1
688,15776494,0,27.42,14.500,2,14,8,3.085,1,1,1,0,2,120,12,1
689,15592412,1,41.00,0.040,2,10,4,0.040,0,1,1,0,1,560,1,1

In [36]:
X=cca.iloc[:,1:14]
y=cca.iloc[:,15]

In [37]:
train_X, test_X, train_y, test_y = train_test_split(X, y,test_size = 0.2, random_state=1)

In [47]:
gbr = GradientBoostingClassifier(n_estimators = 200, max_depth = 1, random_state =1)
gbr.fit(train_X, train_y)
pred_y = gbr.predict(test_X)
acc=np.mean(pred_y==test_y)

In [48]:
acc

0.8913043478260869

In [53]:
print('Accuracy : {:.2f}'.format(acc))

Accuracy : 0.89